<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top <%= "opacities" if request.path != root_path %>" <%= "data-controller=navbar" if request.path != root_path %> data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">

    <%= link_to image_tag("logo.gif") + " Magical Artifact Rental Service", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if request.path == artifacts_path %>
      <%= form_tag artifacts_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Look for Artifacts"
        %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if !user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link btn btn-navbar-ghost" href="/users/sign_up">Sign up</a>
          </li>
          <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboards_path, class: "nav-link" %>
        </li>

          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/jonasethan" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Your profile", dashboards_path, class: "dropdown-item" %>
                <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
