<div class="banner">
  <div class="container text-center">
    <div class="mb-5">
      <h1>Welcome to <strong>MARS</strong>!</h1>
      <p>Join our community and find the most magical artifacts you have never imagined!</p>
    </div>
    <div>
      <h3>Already have in mind what you are looking for?</h3>
      <p>Then type it in!</p>
      <%= form_tag artifacts_path, method: :get, class: "d-flex my-5 search-home" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Look for Artifacts"
          %>
          <%= submit_tag "Search", class: "btn btn-flat" %>
        <% end %>
    </div>
    <div class="home-preview">
      <div class="row mt-25 text-black">
        <h3>Don't know what to look for? Here are some items of our selection</h3>
        <br>
          <% 4.times do %>
            <% @artifact = Artifact.all.sample %>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <%= link_to artifact_path(@artifact) do %>
                <div class="card mb-3">
                  <% if @artifact.photos.attached? %>
                    <% @artifact.photos.each do |photo| %>
                      <div class="card-img-top" style="background-image: url('<%= cl_image_path photo.key %>')"></div>
                      <% break %>
                    <% end %>
                  <% else %>
                    <div class="card-img-top fallback"></div>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= @artifact.name %></h5>
                    <p class="card-text"><%= @artifact.small_description %></p>
                    <p class="card-text"><%= @artifact.category %></p>
                    <p class="card-text">Owned by <strong><%= @artifact.user.user_name %></strong></p>
                    <p class="card-text"><strong><%= @artifact.price %></strong> <i class="fa-solid fa-coins gold-coin"></i> / day</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
    <%= link_to "See our full offer", artifacts_path, class: "btn btn-flat" %>
  </div>
</div>
