<div class="banner">
  <div class="container text-center">
    <div class="mb-5">
      <h1>Welcome to <strong>MARS</strong>!</h1>
      <p>Join our community and find the most magical artifacts you have never imagined!</p>
    </div>
    <div class="row mt-25 text-black">
      <h3>Here are some items of our selection</h3>
      <% 4.times do %>
        <% @artifact = Artifact.all.sample %>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <%= link_to artifact_path(@artifact) do %>
            <div class="card mb-3">
              <% if @artifact.photos.attached? %>
                <% @artifact.photos.each do |photo| %>
                <%= cl_image_tag photo.key, alt: "artifact photo", class: "large-image w-80" %>
                <% break %>
                <% end %>
              <% else %>
                <%= image_tag "fallback_image.jpg", alt: "artifact photo", class: "large-image w-80" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= @artifact.name %></h5>
                <p class="card-text"><%= @artifact.small_description %></p>
                <p class="card-text"><%= @artifact.category %></p>
                <%# <p class="card-text">Owned by <%= @artifact.username </p>%>
                <p class="card-text"><strong><%= @artifact.price %></strong> <i class="fa-solid fa-coins gold-coin"></i> / day</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to "See our full offer", artifacts_path, class: "btn btn-flat" %>
  </div>
</div>
