<div class="container mt-3">
  <div class="go-back">
    <%= link_to request.referer.present? ? request.referer : artifacts_path do %>
        <i class="fa-solid fa-backward"></i> GO BACK
    <% end %>
  </div>

  <h1>My dashboard</h1>

  <div class="profile">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/jonasethan", class: "avatar-large", alt: "avatar-large" %>
  <%# <img class="avatar-large" alt="avatar-large" src="https://tanzolymp.com/images/default-non-user-no-photo-1.jpg"> %>
    <h3><%= current_user.user_name %></h3>
    <p>Member of the MARS community since <br>
    <strong><%= current_user.created_at.day %>th <%= Date::MONTHNAMES[current_user.created_at.month] %> <%= current_user.created_at.year %></strong></p>
  </div>

  <div class="row">
    <div class="card user-bookings mb-3 p-3 col-sm-12 col-lg-6">
      <h4>My bookings</h4>
      <ul>
      <% @user_bookings.each do |booking| %>
      <%# <% raise %>
      <li>
        <%= link_to artifact_path(booking.artifact.id) do %>
          <strong><%= booking.artifact.name %></strong> (from <%= Date::MONTHNAMES[booking.start_date.month] %>
          <%= booking.start_date.day %>th
          <% booking.start_date.year if !booking.start_date.year == booking.end_date.year %>
          to <%= Date::MONTHNAMES[booking.end_date.month] %> <%= booking.end_date.day %>th <%= booking.end_date.year %>)
          <br>
          <% days = (booking.end_date - booking.start_date).to_i %>
          <p>
            Total Cost in Gold Coins: <%= days * booking.artifact.price %>
          </p>
        <% end %>
        </li>
      <% end %>
      </ul>
    </div>

  <div class="card user-artifacts mb-3 p-3 col-sm-12 col-lg-6">
    <h4>My artifacts</h3>
    <%= @user_artifacts.each do |artifact| %>
      <%= link_to artifact_path(artifact) do %>
        <div class="card-product">
          <%#  <div class="card-img-dashboard">
              <% if artifact.photos.attached? %>
            <%#      <% artifact.photos.each do |photo| %>
                <%#    <%= cl_image_path photo.key %>
              <%#     <% break %>
              <%#   <% end %>
              <%# <% else %>
                <%# <div class="card-img-top fallback"></div>
              <% end %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <%# </div> %>
            <div class="card-product-infos">
              <h5><strong><%= artifact.name %>:</strong> <%= artifact.small_description %></h5>
              <p><%= artifact.category %></p>
              <p><strong><%= artifact.price %></strong> <i class="fa-solid fa-coins gold-coin"></i> / day</p>
              <p>Created on <%= Date::MONTHNAMES[artifact.created_at.month] %> <%= artifact.created_at.day %>th <%= artifact.created_at.year %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="text-center">
    <%= link_to "Go back", artifacts_path, class: "btn btn-ghost" %>
  </div>

</div>
