<div class="index-background pb-3 pt-3">
  <div class="container flex mb-4">
    <h1 id="index-title">Discover all artifacts (<%= @artifacts.count %>)</h1>
      <div class="search-form col-sm-6 col-md-6 col-lg-4">
        <% if request.path == artifacts_path %>
          <%= form_tag artifacts_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Look for an artifact..."
            %>
            <%= submit_tag "Search", class: "btn btn-flat" %>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row mt-25">
      <% @artifacts.each do |artifact| %>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
          <%= link_to artifact_path(artifact) do %>
            <div class="card mb-3 h-100">
              <div class="card-img-top">
                <% if artifact.photos.attached? %>
                  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <% artifact.photos.each do |photo| %>
                        <% if photo == artifact.photos.first %>
                          <div class="carousel-item active">
                            <%= cl_image_tag photo.key, alt: "artifact photo", class: "card-img-top" %>
                          </div>
                        <% else %>
                          <div class="carousel-item">
                            <%= cl_image_tag photo.key, alt: "artifact photo", class: "card-img-top" %>
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                  </div>
                <% else %>
                  <div class="card-img-top fallback"></div>
                <% end %>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= artifact.name %></h5>
                <p class="card-text"><%= artifact.small_description %></p>
                <p class="card-text card-category"><%= artifact.category %></p>
                <p class="card-text">Owned by <strong><%= artifact.user.user_name %></strong></p>
                <p class="card-text"><strong><%= artifact.price %></strong> <i class="fa-solid fa-coins gold-coin"></i> / day</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

    <div class="text-center">
      <%= link_to "Go back", root_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
