<%# <%= render 'artifact_list', artifacts: @artifacts %>

<div class="container flex">
  <h1>Discover all artifacts (<%= @artifacts.count %>)</h1>

  <% if user_signed_in? %>
  <%= link_to "Add your artifact", new_artifact_path, class: "btn btn-flat" %>
  <br>
  <br>
  <% end %>
</div>

<div class="container">
  <div class="row mt-25">
    <% @artifacts.each do |artifact| %>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <%= link_to artifact_path(artifact) do %>
        <div class="card mb-3">
          <% if artifact.photos.attached? %>
            <% artifact.photos.each do |photo| %>
              <%= cl_image_tag photo.key, alt: "artifact photo", class: "large-image w-80" %>
              <% break %>
            <% end %>
          <% else %>
            <%= cl_image_tag("42ubmyncr7k6tx6z3n98ebtlw8um", alt: "artifact photo", class: "large-image w-80") %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= artifact.name %></h5>
            <p class="card-text"><%= artifact.small_description %></p>
            <p class="card-text"><%= artifact.category %></p>
            <%# <p class="card-text">Owned by <%= artifact.username </p>%>
            <p class="card-text"><strong><%= artifact.price %></strong> <i class="fa-solid fa-coins gold-coin"></i> / day</p>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="text-center">
    <%= link_to "Go back", root_path, class: "btn btn-ghost" %>
  </div>
</div>

<%# comment for github %>
